<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    
    <nav class="nav">
      {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      <a class="nav-item" href="{{ my_page.url | relative_url }}">
        {%- if page.url contains my_page.url == true -%}<b>{%- endif -%}
        {{ my_page.title | escape }}
        {%- if page.url contains my_page.url == true -%}</b>{%- endif -%}
      </a>
      {%- endfor -%}
    </nav>

  </div>
  
</header>