---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

$code-background-color-light: $table-zebra-color;

// Overrides
// Minima

.site-header {
  border: 0px;
  background-color: $code-background-color;
}

.site-title {
  letter-spacing: 0px;
  text-decoration: none !important;
}

.site-footer {
  border: 0px;
  background-color: $code-background-color;
  padding: $spacing-unit / 2;
}

.nav {
  float: right;
}

.nav-item {
  padding: $spacing-unit / 2;
}

a {
  color: $text-color;

  &:visited {
    color: $text-color;
  }
}

table {
  border: none;
}

.social-media-list {
  display: table-row;
}

// Custom

.header {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 24px;
  border-radius: 15px;
  overflow: hidden;
}

.wallpaper {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.icon {
  width: 24px;
}

.grid-uneven {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media only screen and (min-width: 600px) {
  .grid-uneven {
    grid-template-columns: 3fr 2fr;
  }
}

.grid-even {
  display: grid;
  grid-template-columns: #{'repeat(auto-fit, minmax(min(300px, 100%), 1fr))'};
  grid-gap: 16px;
}

.grid-square {
  display: grid;
  grid-template-columns: #{'repeat(auto-fit, minmax(min(200px, 100%), 1fr))'};
  grid-gap: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tile {
  padding: 32px;
  border-radius: 25px;
  overflow: hidden;
  background-color: $code-background-color;
  text-align: justify;
}

a.tile {
  padding: 32px;
  border-radius: 25px;
  overflow: hidden;
  background-color: $code-background-color;
  text-align: justify;
  transition: 0.3s;
  text-decoration: none;
}

a.tile:hover {
  background-color: $code-background-color-light;
}

.tiles {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.tile-image {
  transition: 0.3s;
  border-radius: 15px;
  overflow: hidden;
}

.tile-image.covered {
  position: relative;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

a.tile-image {
  text-decoration: none;
}

a.tile-image {
  .tile-title {
    transition: 0.3s;
    background-color: $code-background-color;
  }
}

a.tile-image:hover {
  .tile-title {
    background-color: $code-background-color-light;
  }
}

.tile-title {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
}

.project-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
}

// rounded corners:
// border-radius: 15px;
// overflow: hidden;