---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

$link-color: #fff;
$text-color-light: lighten($text-color, 20%);
$code-background-color-light: $table-header-bg-color;
$accent-color: rgb(38, 148, 148);

// Overrides
// Minima

.site-header {
  border: 0px;
}

.site-title {
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none !important;
  margin-right: auto;
  transition: 0.3s;

  &:hover {
    color: $text-color-light;

    @media only screen and (min-width: 600px) {
      letter-spacing: 1px;
    }
  }
}

.social-media-list {
  // Aligns left
  display: table-row;
}

.nav {
  float: right;
}

a.nav-item {
  padding: $spacing-unit / 2;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $text-color-light;
  }
}

a {
  color: $text-color;

  &:visited {
    color: $text-color;
  }
}

.post-content {
  text-align: justify;
}

.post-content a {
  color: $link-color;
  transition: 0.3s;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

.site-footer {
  border: 0px;
  background-color: $code-background-color;
  padding: $spacing-unit / 2;
}

.footer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: #{'repeat(auto-fit, minmax(min(300px, 100%), 1fr))'};
}

.grid.small {
  grid-gap: 12px;
}

.grid.uneven {
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
  .grid.uneven {
    grid-template-columns: 3fr 2fr;
  }
}

.grid.button {
  grid-template-columns: #{'repeat(auto-fit, minmax(min(100px, 100%), 1fr))'};
}

.grid-header {
  margin: 16px 16px 24px 16px;
  position: relative;
}

.grid-icon {
  height: 40px;
}

.grid-date {
  position: absolute;
  top: 0px;
  right: 0px;
}

.grid-cell {
  padding: 12px 24px;
  border-radius: 25px;
  position: relative;
  border-color: $code-background-color-light;
  border-style: solid;
}

a.grid-cell {
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    background-color: $code-background-color-light;
  }
}

.table-summary {
  margin-top: 8px;
}

.table-icon {
  position: absolute;
  top: 12px;
  right: 18px;
  justify-content: space-between;
  display: flex;
  column-gap: $spacing-unit / 2;
}

// Custom

.header.image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 24px;
  border-radius: 15px;
  overflow: hidden;
}

.wallpaper {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.icon {
  width: 24px;
}

.icon.medium {
  width: 28px;
  height: 28px;
}

.icon.large {
  width: 72px;
  height: 72px;
}

.centered {
  display: flex; 
  align-items: center; 
  column-gap: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tile {
  padding: 20px 24px;
  border-radius: 25px;
  overflow: hidden;
  background-color: $code-background-color;
  text-align: justify;

  @media only screen and (min-width: 600px) {
    padding: 24px 32px;
  }
}

.tile.no-justify {
  text-align: left ;
}

.tile.small {
  padding: 12px 16px;
}

a.tile {
  padding: 32px;
  border-radius: 25px;
  overflow: hidden;
  background-color: $code-background-color;
  text-align: justify;
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    background-color: $code-background-color-light;
  }
}

a.button {
  padding: 8px;
  border: 1.5px solid $text-color;
  border-radius: 25px;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    background-color: $text-color;
    color: $code-background-color-light;
  }
}

.tiles {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.tile-image {
  transition: 0.3s;
  border-radius: 15px;
  overflow: hidden;
}

.tile-image.covered {
  position: relative;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

a.tile-image {
  text-decoration: none;
}

a.tile-image {
  .tile-title {
    transition: 0.3s;
    background-color: $code-background-color;
  }
}

a.tile-image:hover {
  .tile-title {
    background-color: $code-background-color-light;
  }
}

.tile-title {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
}

.project-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
}

.showcase {
  display: flex;
  border-radius: 25px;
  border-color: $code-background-color-light;
  border-style: solid;
  border-width: 2px;
  padding: $spacing-unit / 1.5;
  gap: $spacing-unit;
}

a.showcase {
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    background-color: $code-background-color-light;
  }
}

.home.icon {
  width: auto;
  height: 200px;
  object-fit: contain;
}

.home.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home.author {
  display: flex;
  gap: $spacing-unit;
}

.home.face {
  width: auto;
  height: 120px;
  object-fit: contain;
}

.home.title {
  font-size: 3rem;
  margin-top: $spacing-unit / 2;
  margin-bottom: 0px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home.subtitle {
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home.buttons {
  display: flex;
  grid-gap: $spacing-unit / 2;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: $spacing-unit;
}

.home.button {
  width: auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

.home.author.label {
  font-size: 0.8em;
  color: $accent-color;
}

.home.author.text {
  margin-bottom: 0px;
}