$color-fg-default: #c9d1d9;
$color-fg-muted: #8b949e;
$color-fg-subtle: #6e7681;
$color-canvas-default: #0d1117;
$color-canvas-overlay: #161b22;
$color-canvas-inset: #010409;
$color-border-default: #30363d;
$color-border-muted: #21262d;
$color-neutral-muted: hsla(215, 8%, 47%, .4); // inline code background
$color-accent-fg: #58a6ff;
$color-accent-emphasis: #1f6feb;
$color-accent-muted: rgba(56, 139, 253, .4);
$color-accent-subtle: rgba(56, 139, 253, .15);
$color-header-logo: #f0f6fc;

$brand-color:           $color-fg-muted; 
$brand-color-light:     $color-header-logo;
$brand-color-dark:      $color-fg-subtle;

$site-title-color:      $color-header-logo;

$text-color:            $color-fg-default;
$background-color:      $color-canvas-default;
$code-background-color: $color-canvas-overlay;

$link-base-color:       $color-accent-fg;
$link-visited-color:    $color-accent-fg;
$link-hover-color:      $color-fg-default;

$border-color-01:       $color-border-default;
$border-color-02:       $color-header-logo;
$border-color-03:       $color-fg-muted;

$table-border-color:    $color-border-default;

$table-zebra-color:     $color-canvas-overlay;
$table-header-bg-color: $color-canvas-default;
$table-header-border:   $color-border-default;