---
layout: default
---

<div class="cv">

  <div class="cv-menu">

    <div style="text-align: center;"><p>
      <img src="/assets/images/cv.jpg" style="max-width: 150px; border-radius: 250px; overflow: hidden;">
    </p></div>
    <div class="cv-title"><b>{{ site.author.name }}</b></div>
    <div>{{ site.author.title }}</div>
    <br/>

    <div><a href="https://www.google.com/maps?q={{ site.author.location }}">{{ site.author.location }}</a></div>
    <div><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></div>
    <div style="margin-top: 16px;">{% include social.html %}</div>
    <br/>

    <h2>Skills</h2>
    {% for skill in site.data.skills %}
    <p>
      <div>{{ skill.title }}</div>
      <div><progress value="{{ skill.experience }}" max="100"></progress></div>
    </p>
    {% endfor %}
    <br/>

    <h2>Education</h2>
    {% for education in site.data.education %}
    <p>
    <div><b>{{ education.title }}</b></div>
    <div>{{ education.location }}</div>
    <div>{{ education.year }}</div>
    </p>
    {% endfor %}
    <br/>

    <h2>Languages</h2>
    {% for language in site.data.languages %}
    <p>
    <div>{{ language.language }} ({{ language.level }})</div>
    </p>
    {% endfor %}
  </div>

  <div class="cv-content">

    <h2>Profile</h2>
    {{ content }}
    <br/>

    <h2>Experiences</h2>
    {% for experience in site.data.experiences %}
    <p>
    <div>{{ experience.title }}</div>
    <span class="post-meta" style="float:right;">{{ experience.time }}</span>
    <div class="post-meta" style="margin-bottom: 12px;">{{ experience.company }}</div>
    <div>{{ experience.summary }}</div>
    <div class="post-meta" style="margin-top: 12px">Technologies: {{ experience.technologies }}</div>
    <br/>
    </p>
    {% endfor %}

    <h2>Publications</h2>
    {% for publication in site.data.publications %}
    <p>
    {% if publication.link %}
    <div>- <i><a href="{{ publication.link }}">{{ publication.title }}</a></i></div>
    {% else %}
    <div>- <i>{{ publication.title }}</i></div>
    {% endif %}
    <div class="post-meta">{{ publication.location }}, {{ publication.year }}</div>
    </p>
    {% endfor %}
  </div>

</div>
