<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">

      <div class="wrapper">

        {%- if page.image -%}
        <img class="header image" src="{{ page.image | prepend: site.baseurl }}" alt="">
        {%- endif -%}

        {{ content }}

      </div>
      
    </main>
    
    <p>{%- include social.html -%}</p>

    {%- include footer.html -%}

  </body>

</html>
