---
layout: page
---

{{ content }}

<br/>

{% for company in site.data.companies %}
<p><a href="{{ company.url }}"><img src="{{ company.image }}" style="height:50px;"></a></p>
<table>
{% assign professions_of_company = site.data.professions | where: "company", company.id %}
{% for year in (2010..2022) reversed %}
{% assign professions_of_year = professions_of_company | where: "year", year %}
{% if professions_of_year.size > 0 %}
{% for profession in professions_of_year %}
<tr>

<td>
{% if profession.title == professions_of_year[0].title %}
{{year}}
{% endif %}
</td>

<td class="icon">
{% assign platform_ids = profession.platforms | split: ", " %}
{% for platform_id in platform_ids %}
{% assign platform = site.data.platforms | where: "id", platform_id | first %}
<img src="{{ platform.image }}" title="{{ platform.name }}">
{% endfor %}
</td>

<td>
  {%- if profession.industry -%}
  <span class="post-meta">{{ profession.industry }}</span>
  <br/>
  {%- endif -%}
  {%- if profession.url -%}
  <a href="{{ profession.url }}">
  {%- endif -%}
  {%- if profession.title -%}
  <b>{{ profession.title }}</b>
  {%- else -%}
  <i>Undisclosed project</i>
  {%- endif -%}
  {%- if profession.url -%}
  </a>
  {%- endif -%}
  <br/>
  {{ profession.summary }}
</td>

</tr>
{% endfor %}
{% endif %}
{% endfor %}
</table>
{% endfor %}