---
layout: page
---

{{ content }}

<div class="list">

  {% for company in site.data.companies %}

    <div class="company">

      <a href="{{ company.url }}" target="_blank">
        <img src="{{ company.image }}" class="icon-company">
      </a>

      {% assign experience_in_company = site.data.experiences | where: "company", company.id %}

      <div class="grid">

        {%- for experience in experience_in_company -%}

          {%- if experience.url -%}
          <a href="{{ experience.url }}" target="_blank" class="grid-cell">
          {%- else -%}
          <div class="grid-cell">
          {%- endif -%}

            {%- if experience.industry -%}
            <div class="post-meta">{{- experience.industry -}}</div>
            {%- endif -%}

            <div>
              {%- if experience.title -%}
              <b>{{ experience.title }}</b>
              {%- else -%}
              <i>Undisclosed project</i>
              {%- endif -%}
            </div>

            <div class="table-summary">{{ experience.summary }}</div>

            <div class="table-icon">
              {%- assign platform_ids = experience.platforms | split: ", " -%}
              {%- for platform_id in platform_ids -%}
              {%- assign platform = site.data.platforms | where: "id", platform_id | first -%}
              <img src="{{ platform.image }}" class="icon" title="{{ platform.name }}">
              {%- endfor -%}
            </div>

          {%- if experience.url -%}
          </a>
          {%- else -%}
          </div>
          {%- endif -%}

        {% endfor %}

      </div>
      
    </div>

  {% endfor %}

  <!-- TODO: Add end point -->

</div>