---
layout: page
---

{{ content }}

<div class="software-list">

    {%- for software in site.data.oss -%}
  
    <div class="software">
  
      <div>{{- software.platform -}}</div>
  
      <div>
      {% if software.url %}
      <a href="{{ software.url }}" style="color:white;">
      <h2 style="margin-top: 8px;">{{- software.name -}}</h2>
      </a>
      {% else %}
      <h2 style="margin-top: 8px;">{{- software.name -}}</h2>
      {% endif %}
      </div>
  
      {% if software.image %}
      <div style="margin-top: 16px; margin-bottom: 16px;">
      {% if software.url %}
      <a href="{{ software.url }}">
      <img class="software-image" src="{{- software.image -}}">
      </a>
      {% else %}
      <img class="software-image" src="{{- software.image -}}">
      {% endif %}
      </div>
      {% endif %}
  
      <div>{{- software.summary -}}</div>
  
    </div>
  
    {%- endfor -%}
  
  </div>