---
layout: page
---

{{ content }}

<div class="oss-list">

    {%- for item in site.data.oss -%}
  
    <div class="oss">
  
      <div>{{- item.platform -}}</div>
  
      <div>
      {% if item.url %}
      <a href="{{ item.url }}" style="color:white;">
      <h2 style="margin-top: 8px;">{{- item.name -}}</h2>
      </a>
      {% else %}
      <h2 style="margin-top: 8px;">{{- item.name -}}</h2>
      {% endif %}
      </div>
  
      {% if item.image %}
      <div style="margin-top: 16px; margin-bottom: 16px;">
      {% if item.url %}
      <a href="{{ item.url }}">
      <img class="item-image" src="{{- item.image -}}">
      </a>
      {% else %}
      <img class="item-image" src="{{- item.image -}}">
      {% endif %}
      </div>
      {% endif %}
  
      <div>{{- item.summary -}}</div>
  
    </div>
  
    {%- endfor -%}
  
  </div>