---
layout: page
---

{{ content }}

<div class="grid">
  {% for poetry in site.poetry reversed %}
  <a href="{{ poetry.url }}" class="tile-image">
    <div class="tile-image">
      <img class="list-image" src="{{ poetry.image | default: "/assets/images/placeholder.jpg" | prepend: site.baseurl }}" title="" alt="">
      <div class="tile-title">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-meta">{{ poetry.date | date: date_format }}</div>
        {{ poetry.title | escape }}
      </div>
    </div>
  </a>
  {% endfor %}
</div>