---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    {%- if page.image -%}
    <img class="post-image" src="{{ page.image | prepend: site.baseurl }}" alt="">
    {%- endif -%}

    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </p>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    
    {% assign tags = page.tags %}
    {% for tag in tags %}
    <div style="display: inline-block; justify-content: space-between;">
        <span class="project status">{{- tag -}}</span>
    </div>
    {% endfor %}
  </header>

  <div itemprop="articleBody" class="post-content">

    {{ content }}
    
    {%- if page.github -%}
    {%- assign github = site.minima.social_links | where: 'platform', 'github' | first -%}
    {%- if github -%}
    {%- assign github_url = github.user_url | append: '/' -%}
    {%- if github_url -%}
    {%- assign github_name = github.user_url | split: '/' | last | append: '/' | default: '' -%}

    <a href="{{ page.github | prepend: github_url }}" target="_blank" class="showcase">
        <img src="/assets/images/icons/github.png" class="icon large" alt=""/>
        <div>
            <span class="post-meta">github.com</span>
            <p style="margin-bottom: 4px;">{{ page.github | prepend: github_name }}</p>
            <span class="post-meta">
                This project serves as proof of concept for most of the technologies described in this blogpost
            </span>
        </div>
    </a>
    {%- endif -%}
    {%- endif -%}
    {%- endif -%}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>