---
layout: page
---

{{ content }}

<div class="grid-uneven">

    {%- for project in site.data.projects -%}
  
    <div class="tile">
  
      <div>{{- project.platform -}}</div>
  
      <div>
      {% if project.url %}
      <a href="{{ project.url }}" style="color:white;">
      <h2 style="margin-top: 8px;">{{- project.name -}}</h2>
      </a>
      {% else %}
      <h2 style="margin-top: 8px;">{{- project.name -}}</h2>
      {% endif %}
      </div>
  
      {% if project.image %}
      <div style="margin-top: 16px; margin-bottom: 16px;">
      {% if project.url %}
      <a href="{{ project.url }}">
      <img class="project-image" src="{{- project.image -}}">
      </a>
      {% else %}
      <img class="project-image" src="{{- project.image -}}">
      {% endif %}
      </div>
      {% endif %}
  
      <div>{{- project.summary -}}</div>
  
    </div>
  
    {%- endfor -%}
  
  </div>