---
layout: page
---

{{ content }}

<div class="grid-uneven">

    {%- for project in site.data.projects -%}

        {% if project.url %}
        <a href="{{ project.url }}" class="tile">
        {% else %}
        <div class="tile">
        {% endif %}

        {{- project.platform -}}

        <h2 style="margin-top: 8px;">{{- project.name -}}</h2>

        {{- project.summary -}}

        {%- if project.image -%}
        <br/>
        <br/>
        <img class="project-image" src="{{- project.image -}}">
        {%- endif -%}
        
        {% if project.url %}
        </a>
        {% else %}
        </div>
        {% endif %}

    {%- endfor -%}
  
</div>