---
layout: page
---
<div class="list">
  {{ content }}
  <div class="grid button">
    <a href="/software/experience" class="button">Experience</a>
    <a href="/software/projects" class="button">Projects</a>
  </div>
  <div class="grid even">
    {%- for software in site.data.software -%}
    {%- assign color = software.color -%}
      <div class="tile">
        <h1 class="centered">
          {{ software.title }}
          <img src="{{ software.icon }}" class="icon" alt=""/>
        </h1>
        <p>{{ software.description }}</p>
        <ul style="text-align: left;">
          {%- for technology in software.technologies -%}
            <li>{{ technology }}</li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endfor -%}
  </div>
</div>