---
layout: page
---

<div class="software-list">

    <div class="software">
        {{ content }}
    </div>

    <div class="software">
      <h2 style="margin-top: 0px;">Skills</h2>
      {% for skill in site.data.skills %}
      <p>
        <div>{{ skill.title }}</div>
        <div><progress value="{{ skill.experience }}" max="100"></progress></div>
      </p>
      {% endfor %}
      <br/>
      <a href="/software/projects">
      <h2 style="margin-top: 0px;">Projects</h2>
      {% for project in site.data.projects limit: 5 %}
      <p>
      <div>{{ project.name }}</div>
      <div style="color: gray;">{{ project.platform }}</div>
      </p>
      {% endfor %}
      </a>
      <br/>
      <a href="/software/profession">
      <h2 style="margin-top: 0px;">Profession</h2>
      {% for experience in site.data.experiences %}
      <p>
      <div>{{ experience.title }}</div>
      <div style="color: gray;">{{ experience.time }}</div>
      <div style="color: gray;">{{ experience.company }}</div>
      </p>
      {% endfor %}
      </a>
    </div>

</div>